
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dream Car App</title>
     <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Dream Car Planner</h1>
       <img
     class="car-pic1"
     src="https://i.imgur.com/OtJMOGa.png"
     alt="dream car club"
   />
  <% if (user) { %>
  <h1>Welcome <%= user.username %></h1>
  <p><a href="/cars">Members Dream Car Garage</a></p>
  <p>
  <a href="/auth/sign-out">Sign out</a>
</p>
  <% } else { %>
  <h1>Welcome to the app</h1>
  <p>
  <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">Sign in</a>
  </p>
  <% } %>
  </body>
</html>
