 @import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");

 * {
  box-sizing: border-box;
 }

  body {
   background: #dfdad1;
   font-family: "DM Sans", sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   max-width: 100vw;
 }

 h1 {
   color: #779fb0;
   font-size: 3.6em;
 }

 .car-pic1 {
   height: 30%;
 }

  .cars-index-link {
   text-decoration: none;
 }

 .index-link-text {
   background-color: #a8cce8;
   color: white;
   font-size: 1.4em;
   width: 10em;
   padding: 5px 5px;
   margin: 10px;
   border-radius: 25px;
   text-align: center;
   box-shadow: 0 5px #f7f7f7;
   text-decoration: none;
 }

 .index-link-text:hover {
   background-color: #e3f0f1;
   box-shadow: 0 5px #7ac1cb;
 }

 .index-link-text:active {
   background-color: #b7d8e2;
   box-shadow: 0 2.5px #ffbd59;
 }

  .car-details {
   font-family: "DM Sans", sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   background-color: #b9ced9;
   padding: 20px 30px;
   border-radius: 20px;
   box-shadow: 5px 6px #daedf0;
   margin: 20px 10px;
 }

 form {
   font-family: "DM Sans", sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #b9ced9;
   padding: 20px 30px;
   border-radius: 20px;
   box-shadow: 5px 6px #daedf0;
   margin: 20px 10px;
 }

 label,
 input {
   margin: 10px 2px 0 2px;
 }

 button {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 10px 4px 4px 4px;
   background-color: #cb5252;
   color: white;
   padding: 5px 10px;
   border-radius: 15px;
   border: none;
   width: 15em;
   cursor: pointer;
 }

 .edit-button {
    align-self: center;
   margin: 10px 4px 4px 4px;
   background-color: #91eaa4;
   color: white;
   padding: 5px 15px;
   border-radius: 15px;
   border: none;
   cursor: pointer;
   text-decoration: none;
 }
 
 button:hover {
   background-color: #c6b9ea;
 }

 button:active {
   background-color: #a4dbe7;
 }

ul {
    list-style-type: none;
 }

.car-list {
    text-decoration: none;
}
