<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log your Dream Car</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Insert Dream Car</h1>
      <form action="/cars" method="POST">
    <label for="make">Make:</label>
    <input type="text" name="make" id="make" /><br>
    <label for="model">Model:</label>
    <input type="text" name="model" id="model" /><br>
    <label for="color">Color:</label>
    <input type="text" name="color" id="color" /><br>
    <label for="horsepower">Horsepower:</label>
    <input type="number" name="horsepower" id="horsepower" min="0" step="1" /><br>
    <button type="submit">Add Car</button>
  </form>
      <a class="cars-index-link" href="/cars">
   <div class="index-link-text">Back to Cars</div>
   </a>
</body>
</html>